<div class="carousel-caption ">
    <img class="img-fluid1 " src={% static 'index/img/logodiv.svg' %}>
    <h6 class="alinmy">Guía de</h6>
    <h6 class="sfproheavy">SCORT PROFESIONALES</h6>
    <h6 class="sfproul">PREMIUM CLASS</h6>
    <p class="sfnormal">SELECCIONA TU CIUDAD</p>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="dir/ciudad/curico/" class="btn btn-transparent-white" role="button">CURICO</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/talca/" class="btn btn-transparent-white" role="button">TALCA</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/concepcion/" class="btn btn-transparent-white" role="button">CONCEPCION</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/chillan/" class="btn btn-transparent-white">CHILLAN</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="dir/ciudad/los-angeles/" class="btn btn-transparent-white">LOS ANGELES</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/temuco/" class="btn btn-transparent-white">TEMUCO</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/pucon/" class="btn btn-transparent-white">PUCON</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/valdivia/" class="btn btn-transparent-white">VALDIVIA</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="dir/ciudad/la-union/" class="btn btn-transparent-white">LA UNIÓN</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/osorno/" class="btn btn-transparent-white">OSORNO</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/puerto-montt/" class="btn btn-transparent-white">PUERTO MONTT</a>
            </div>
            <div class="col-auto">
                <a href="dir/ciudad/punta-arenas/" class="btn btn-transparent-white">PUNTA ARENAS</a>
            </div>
        </div>
    </div>
</div>


<!--ENTRY DETAIL BASE-->


<nav class="navbar  bg-color20 pb-0 d-sm-none d-sm-block ">
            </nav>
    <div class="container-fluid bg-color9 foo"  >
    <div class="row perfil-ciudades-box ">
            <div class="col-12  ">
                <h6 class="perfil-ciudades-header">CIUDADES</h6>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}"class="btn btn-transparent-white" role="button">CURICO</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white" role="button">TALCA</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white" role="button">CONCEPCION</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">CHILLAN</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">LOS ANGELES</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">TEMUCO</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">PUCON</a>
            </div>
            <div class="col-auto">
                <a  href="{% url 'index' %}" class="btn btn-transparent-white">VALDIVIA</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">LA UNIÓN</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">OSORNO</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">PUERTO MONTT</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'index' %}" class="btn btn-transparent-white">PUNTA ARENAS</a>
            </div>
    </div>
    </div>

<!-- LISTA -->
<li class="current has-children">
                        <a href="#0" title="">CIUDADES</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'index' %}">CURICÓ</a></li>
                            <li><a href="{% url 'index' %}">TALCA</a></li>
                            <li><a href="{% url 'index' %}">CONCEPCIÓN</a></li>
                            <li><a href="{% url 'index' %}">CHIILLÁN</a></li>
                            <li><a href="{% url 'index' %}">LOS ANGELES</a></li>
                            <li><a href="{% url 'index' %}">TEMUCO</a></li>
                            <li><a href="{% url 'index' %}">PUCÓN</a></li>
                            <li><a href="{% url 'index' %}">VALDIVIA</a></li>
                            <li><a href="{% url 'index' %}">LA UNIÓN</a></li>
                            <li><a href="{% url 'index' %}">OSORNO</a></li>
                            <li><a href="{% url 'index' %}">PUERTO MONTT</a></li>
                            <li><a href="{% url 'index' %}">PUNTA ARENAS</a></li>
                        </ul>
                    </li>
